body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.h1, h1 {
    font-size: 36px; !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px !important;
    border-bottom: 1px solid #eee;
}

table.dataTable.no-footer {
    border: 1px solid rgba(34,36,38,.15)
}