.blackground {
    background-color: #fff !important;
  }

#logo {
  background-size: contain !important;
  height: auto !important; 
  width: auto !important; 
  max-width: 160px !important; 
  max-height: 90px !important;
}

#logotitle {
  color: mediumturquoise
}